header{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.788);
    height: 200px;
}
header img{
    width: 700px;
    height: 250px;
}
#contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    margin-top: 50px;
        
    min-width: 380px;
    max-width: 900px;
    width: 90%;
    
    color: #fff;
    
    /*opacity: 0.50;
    filter: alpha(opacity=50);*/
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    padding: 30px;
    box-sizing: border-box;
}
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}
#login {
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    padding: 30px 30px 50px 30px;
    background-color: black;
    border-radius: 10px;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
    
    opacity: 1;
    filter: alpha(opacity=1);
}
#login label {
    display: block;
    font-family: 'Overpass', sans-serif;
    font-size: 120%;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}
#login button{
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: darkgray;
    
    margin-top: 10px;
}
#login button:hover {
    background-color: #fff;
    color: #3c4245;
}
p{
    font-size: 50px;
    text-align: center;
}